.country-container{
    background-color: antiquewhite;
    margin-bottom: 5rem;
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

h1{
    margin-top: 5rem;
    text-align: center;
}

.country{
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 10px 20px 0px rgba(128, 128, 128, 0.61);
}

.country-title{
    font-size: 1.5rem;
}

.country-region{
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    filter: opacity(50%);
}

.country-flag{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}